@page
@model RecipeApp.Pages.Recipe.Direction.EditModel

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/tümeditler.css" rel="stylesheet" />
<h1>Edit</h1>

<h4>Direction</h4>
<hr />

<div id="myDIV" class="row">
    <div class="col-md-4">
        <section class="login">
            <div class="login_box">
                <div class="left">
                    <div class="top_link"></div>
                    <div class="contact">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Direction.Id" />
                            <div class="form-group">
                                <label asp-for="Direction.StepNumber" class="control-label"></label>
                                <input asp-for="Direction.StepNumber" class="form-control" />
                                <span asp-validation-for="Direction.StepNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Direction.Description" class="control-label"></label>
                                <input asp-for="Direction.Description" class="form-control" />
                                <span asp-validation-for="Direction.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Direction.RecipeId" class="control-label"></label>
                                <input asp-for="Direction.RecipeId" class="form-control" />
                                <span asp-validation-for="Direction.RecipeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                        <div>
                            <a asp-page="./Index">Back to List</a>
                        </div>

                    </div>
                </div>

                <div class="right">
                    <img src="~/images/logo.jpg" />
                </div>
            </div>
        </section>
    </div>

</div>

@*
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Direction.Id" />
            <div class="form-group">
                <label asp-for="Direction.StepNumber" class="control-label"></label>
                <input asp-for="Direction.StepNumber" class="form-control" />
                <span asp-validation-for="Direction.StepNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direction.Description" class="control-label"></label>
                <input asp-for="Direction.Description" class="form-control" />
                <span asp-validation-for="Direction.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direction.RecipeId" class="control-label"></label>
                <input asp-for="Direction.RecipeId" class="form-control" />
                <span asp-validation-for="Direction.RecipeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
