@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #000000
    }

    p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }

    a {
        text-decoration: none;
        color: #000000
    }
</style>

    <div>
    <h1><strong>@ViewData["Title"]</strong></h1>
    <hr /><hr /><hr />
        <p>
        This privacy policy provides how FOOD & COOK uses and protects any information that you give or share when you use this website. FOOD & COOK is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. FOOD & COOK may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy has been effective since 30.05.2025.

        We may collect the following information:

        Name
        Contact information including email address
        Why required and what we do with the information we gather

        We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
        Internal record keeping.
        We may use the information to improve our products and services.
        We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided.
        From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail.
        We may use the information to customize the website according to your interests.
        We may provide your information to our third-party partners for marketing or promotional purposes.
        We will never sell your information.
        </p>
    </div>
